<div class="container">
  <h1>Client side </h1>
  <div class="row">
    <div class="col m2">
      <label>Set items per page</label>
      <select [(ngModel)]="pagination.itemsPerPage" (ngModelChange)="pag.setTotalPages(pagination.itemsPerPage)" class="browser-default">
        <option *ngFor="let perPage of pagination.itemsPerPages" [ngValue]="perPage" [innerHTML]="perPage"></option>
      </select>
    </div>
  </div>
  <table class="striped centered">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>eMail</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees.slice(pagination.currentPage * pagination.itemsPerPage, (pagination.currentPage + 1) * pagination.itemsPerPage)">
        <td [innerHTML]="employee.fname"></td>
        <td [innerHTML]="employee.lname"></td>
        <td [innerHTML]="employee.email"></td>
      </tr>
    </tbody>
  </table>
  <ul class="pagination center">
    <pagination #pag [(pagination)]="pagination" (eventPagination)="paginationChange($event)"></pagination>
  </ul>
</div>
