<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/home/addEmployee">Add employee</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <form class="col m8 offset-m2" (submit)="addEmployee(employee)">
      <div class="row">
        <div class="input-field col m12">
          <input id="fname" name="fname" type="text" [(ngModel)]="employee.fname" class="validate">
          <label for="fname">First Name</label>
        </div>
        <div class="input-field col m12">
          <input id="lname" name="lname" type="text" [(ngModel)]="employee.lname" class="validate">
          <label for="lname">Last Name</label>
        </div>
        <div class="input-field col m12">
          <input id="email" name="email" type="text" [(ngModel)]="employee.email" class="validate">
          <label for="email">Email</label>
        </div>
        <div class="col m12">
          <div class="right-align">
            <button type="submit" class="btn btn-large waves-effect waves-light">ADD</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
